.rightbar {
  flex:1;
  position: sticky;
  margin-top: 10px;
  height: calc(100vh - 80px);
  top: 0;
  overflow-y: scroll;
}
.rightbar::-webkit-scrollbar {
  display: none;
}

.online {
  margin-bottom: 30px;
}

.onlineGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 2px;
  cursor: pointer;
  transition: all 0,5s;
}
.onlineGroup:hover {
  background-color: #eeeeee;
}

.onlineUserImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.onlineGroupLeft {
  display: flex;
  position: relative;
}

.onlineBadge {
  position: absolute;
  width: 10px;
  bottom: 0px;
  right: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
}